{{#partial "content"}}

    <h1>hhhhhhhhhhhhhhhhhhhhhhhhh</h1>

    {{#if posts}}
        {{#each posts}}
            {{name}}
            {{age}}
            {{power}}
            {{weakness}}
        {{/each}}
    {{else}}
    {{/if}}

{{/partial}}

{{> layout.hbs}}